<h2>About Page {{param}}</h2>
<p>
  Green Apple Books was founded by Richard Savoy in 1967 in a pre-1906 building at the corner of Clement Street and Sixth Avenue. In 1996 Green Apple Books acquired its long-time neighbor, Revolver Records.[1] The store houses over 250,000 titles, as well as 60,000 available online.[2]

  After 30 years, Richard Savoy set up a ten-year buy-out for Green Apple Books & Music with three long-time employees.[citation needed]

  In 2014, Green Apple partnered with Le Video store on 9th street. The store was renamed Green Apple Books on the Park. The downstairs was turned into a Green Apple bookstore while the upstairs remained a video rental store (100,000 titles).[3] In 2019, Green Apple bought the bookstore Browser Books on Fillmore Street.[4] This expansion enabled the company to stay afloat amid the death-by-digital struggle of book retailers.[5] In 2021, Green Apple downsized the Clement Street store back to its original pre-1996 size.[6] In 2023, a future Green Apple location inside SFO was announced for 2024.[7]
  Description

  The store owner Pete Mulvihill described the place as "a labyrinthine store with multiple stories, rooms, nooks and alcoves".[8]
  Recognition

  Green Apple Books was voted "Best Independent Bookstore" in the Bay Area by San Francisco Chronicle readers in 2001.[citation needed]

  Green Apple Books was voted "Best Used Books Store" by the SF Weekly editorial staff in 2005[9] and the readers of the San Francisco Bay Guardian in 2006.[10]

  Green Apple Books was named Publishers Weekly's best bookstore of 2014.[11]
  References

  McManis, Sam (2000-06-30), "Despite Online Competition, S.F.'s Independent Bookstores Survive", San Francisco Chronicle
  Kraeuter, Chris (2005-12-06), "Corner Bookstores Stare Down Google", Forbes, archived from the original on December 8, 2005
  Garofoli, Joe. "Le Video survives thanks to partnership with Green Apple Books". SFGATE. Retrieved 2024-04-19.
  "Green Apple Books Buys Browser Books". the American Booksellers Association. 2019-09-11. Retrieved 2024-04-19.
  Frisc, The (2020-01-09). "How Green Apple Books Has Blossomed in the Amazon Era". The Frisc. Retrieved 2024-04-19.
  Green, Alex (11 March 2021). "Green Apple Books to Downsize at Flagship Location". Publishers Weekly. Retrieved 2024-04-19.
  Charnock, Matt (2023-06-12). "Don't Forget That SFO Will Get a New Bookstore Next Year". Underscore_SF. Retrieved 2024-04-19.
  "Go inside Green Apple Books, a legacy business and San Francisco favorite since 1967". USA TODAY. 2024-07-26. Retrieved 2024-12-09.
  SF Weekly Staff (May 11, 2005), "Best Used Bookstores", SF Weekly, archived from the original on 2011-06-10, retrieved 2007-05-02
  "2006 Best Of The Bay: A Vision Of The Future", San Francisco Bay Guardian, 2006, archived from the original on August 13, 2006

  Rosen, Judith (March 28, 2014). "Green Apple Named PW Bookstore of the Year". Publishers Weekly. Retrieved 2020-05-07.

  External links

  Green Apple Books & Music official website
  American Booksellers Association Article

  Categories:

  Bookstores in the San Francisco Bay AreaIndependent bookstores of the United StatesCommercial buildings in San FranciscoRichmond District, San FranciscoCompanies based in San FranciscoBookstores established in the 20th centuryAmerican companies established in 1967Retail companies established in 19671967 establishments in California
</p>
