.menu{
  margin: 0.5rem  0.5rem 0 0.5rem ;
  background-color: cornflowerblue;
  padding: 5px;
  color: white;
}
.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu li{
  margin-right: 10px;
}
.menu li:last-child{

}
