.product-card{
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;

}
.product-image{
  display: flex;
  border-radius: 4px;
  margin-left: 0.5rem;
  height: 12em;
  padding: 4rem;
}
.product-details{
  display: flex;
  flex-direction: column;
}
.product-title{

}
.product-rating{
  display: flex;
  justify-content: space-between;
}
